* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
}

/* Font */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

/* Aside Menu */
nav {
  height: 100vh;
  width: 8vw;
  background-color: rgb(237, 237, 237);
  margin: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
}

#nav-placeholder {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-placeholder div {
  background-color: rgb(255, 255, 255);
  width: 60%;
  height: 50%;
  border-radius: 50%;
}
#nav-icons {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  flex-direction: column;
  gap: 0.9rem;
}

#nav-icons div {
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 10%;
}

/* container-carousel */
#container-carousel {
  width: 90.4vw;
  height: 30vh;
  background-color: rgb(211, 211, 211);
  margin-left: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#container-carousel div {
  background-color: rgb(237, 237, 237);
  height: 80%;
  width: 10%;
}

/* Main */
main {
  width: 90.4vw;
  margin-left: 8vw;
  height: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background-color: rgb(195, 195, 195);
}

.main-post {
  width: 90%;
  height: 60vh;
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;
}

/* Post Content*/
/* post header */
.post-header {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.post-info-user {
  width: 30%;
  height: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.post-placeholder {
  background-color: rgb(255, 255, 255);
  width: 21%;
  height: 75%;
  border-radius: 50%;
}

.post-estrelas {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.post-movie-name {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

/* post main */
.post-main {
  width: 100%;
  height: 62%;
  padding: 0.7rem 1rem;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.post-main-text {
  height: 100%;
  width: 75%;
  text-align: justify;
}

.post-main-card {
  height: 100%;
  width: 16%;
  background-color: rgb(255, 255, 255);
}

/* post footer */
.post-footer {
  width: 100%;
  height: 18%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.post-footer p {
  font-size: 0.8rem;
}

.post-footer-container {
  height: 100%;
  width: auto;
  padding: 0 1.5rem;
  display: flex;
  gap: 2rem;
}

.post-footer-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 0.2rem;
}
.post-footer-icons {
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 900px) {
  /* Nav */
  #nav-placeholder div {
    height: 40%;
  }

  #nav-icons div {
    height: 8%;
  }

  #nav-icons {
    gap: 1.2rem;
  }

  /* main post */

  .main-post {
    width: 98%;
    padding: 0 0;
  }
}

@media (max-width: 785px) {
  /* Font */

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.9rem;
  }

  /* Nav */
  #nav-placeholder div {
    height: 35%;
  }

  #nav-icons div {
    height: 7%;
  }

  #nav-icons {
    gap: 1.4rem;
  }
  /* carousel */
  #container-carousel {
    width: 97.4vw;
    gap: 1.5rem;
  }

  #container-carousel div {
    height: 80%;
    width: 11%;
  }

  /* main post */
  main {
    padding: 2rem;
  }

  .main-post {
    width: 99%;
    height: 55vh;
  }
  .post-info-user {
    width: 35%;
  }

  .post-placeholder {
    height: 65%;
  }

  .post-movie-name {
    width: 23%;
  }

  /* post main */
  .post-main-card {
    height: 95%;
    width: 18%;
  }
}

@media (max-width: 650px) {
  /* esconder o nav */
  nav {
    display: relative;
    visibility: hidden;
  }

  main {
    width: 97.4vw;
    margin: 0;
    padding: 2rem 0 0 0;
  }

  .main-post {
    width: 90%;
  }

  #container-carousel {
    width: 97.4vw;
    margin: 0;
    gap: 1.5rem;
  }

  #container-carousel div {
    height: 80%;
    width: 12%;
  }
}
