* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  background-color: rgb(124, 124, 124);
  height: 10vh;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div {
  width: 10vw;
  height: 7vh;
  text-align: center;
}

button {
  width: 9vw;
  height: 7vh;
  border-radius: 50px;
}

main {
  height: 65vh;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
  margin: 20px auto;
  text-align: center;
}

main div h1, main div h2 {
  margin-top: 20px;
}

#main-form p,#main-form input {
  margin-bottom: 10px;
}

#main-form input {
  border-radius: 50px;
  height: 1.8rem;
  width: 20rem;
  padding: 0 15px;
}

#container-about {
  height: 40vh;
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  align-content: center;
}

.card-about {
  height: 25vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.line {
  width: 8vw;
  border: 1px solid black;
}

.about {
  height: 18vh;
  width: 14vw;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 5px ;
}

#container-platform {
  height: 60vh;
  display: flex;
}

#plataform-text {
  width: 50vw;
}

#plataform-icons {
  width: 50vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  
}

#plataform-icons div {
  width: 12vw;
  height: 20vh;
  background-color: brown;
  margin: 1rem 1rem;
}

#plataform-text {
  padding: 3rem 5rem;
  text-align: center;
}

#plataform-text h2{
  margin: 1rem auto 2rem;
  font-weight: bolder;
}

